@use '../util' as *;
h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.attribution {
  font-size: rem(11);
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
